# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# dotenv
.env

# streamlit config
.streamlit

# input data, saved log
data/
*.log

# no use
utils/get_img.py
utils/get_thumb_from_ids.py
test_api.py
api.py